# ===============================
# OS / System
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln

# ===============================
# Build / Generated
# ===============================
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# ===============================
# Visual Studio / MSBuild
# ===============================
*.VC.db
*.VC.opendb
*.opensdf
*.opendb
*.sdf
*.ipch

# ===============================
# Xcode
# ===============================
*.xcodeproj
*.xcworkspace

# ===============================
# Logs / Temp
# ===============================
*.log
*.tmp
*.swp
*.bak

# ===============================
# Archives
# ===============================
*.zip
*.tar
*.gz
*.7z
